<?php __('Forget Password'); ?>
<div class="User form">
	<form method="post">
		<?php	echo $this->Form->input('password',array("type"=>"password","name"=>"data[User][password]"));?>
		<div class="col-sm-1">
		<input type="submit" value="Save" class="btn btn-primary" />
</div>
	</form>
</div>
